.App {
  margin: 30px;
  text-align: center;
}

.switch {
  background-color: rgba(235, 0, 0, 1);
  border-radius: 20px;
  display: inline-block;
  height: 32px;  transition: all 0.3s;
  position: relative;
  width: 80px;
}

.switch::after {
  background-color: white;
  border-radius:50%;
  content: '';
  height: 30px;
  left: 1px;
  position: absolute;
  top: 1px;
  transition: all 0.3s;
  width: 30px;
}

.checkbox:checked + .switch::after {
  left : 49px;
}

.checkbox:checked + .switch {
  background-color: #00aa00;
}

.checkbox {
  display : none;
}
